/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --First: rgb(41, 177, 221);

    --logoFamily: 'Acme', sans-serif;
    --standardFamily: 'Rubik', sans-serif;
}

body{
    font-family: var(--logoFamily);
}